# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc

# =========================
# ENV
# =========================

.env

# =========================
# DATABASE
# =========================

data/database.db

# =========================
# STREAMLIT
# =========================

.streamlit/

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db